body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 48px;
    width: 200px;
    background-color: #cccccc;
    flex-shrink: 0;
}

.toolbar {
    padding: 4px;
    background-color: #f9feff;
    border-radius: 10px;
    border: 1px solid rgb(213, 213, 213);
    flex-shrink: 0;
}

.toolbar button {
    height: 40px;
    width: 45px;
    border-radius: 8px;
    border: white;
    background-color: azure;
}

.toolbar button:hover {
    background-color: rgb(193, 234, 239);
}

#palette {
    
}
.zoom {
    display: flex;
    width: 200px;
    flex-shrink: 0;
    gap: 20px;
}

.zoom button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.canvas {
    display: flex;
    justify-content: stretch;
}

.footer {
    display: flex;
}