body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 48px;
    width: 200px;
    flex-shrink: 0;
}

.toolbar {
    padding: 4px 6px;
    background-color: #f6f6f6;
    border-radius: 10px;
    border: 1px solid rgb(213, 213, 213);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

input[type="color"] {
    width: 30px;
    height: 30px;
}

.header button {
    height: 45px;
    width: 45px;
    border-radius: 8px;
    border: white;
    background-color: rgb(244, 244, 244);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button {
    height: 45px;
    width: 45px;
    border-radius: 8px;
    border: 1px solid rgb(132, 132, 132);
}

button:hover {
    background-color: rgb(225, 225, 225);
}

#pen:focus, #eraser:focus {
    background-color: rgb(91, 91, 91);
}

.zoom {
    display: flex;
    width: 200px;
    flex-shrink: 0;
    gap: 20px;
}

.zoom button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid gray;
}

.canvas {

}

.footer {
    display: flex;
    height: 45px;
    align-items: center;
    gap: 8px;
}

.sizeSlider {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #f6f6f6;
    height: 39px;
    border-radius: 8px;
    border: 1px solid rgb(132, 132, 132);;
}

input[type="range"]::-webkit-slider-runnable-track {
   background-color: #bcbcbc;
   border-radius: 0.5rem;
   height: 0.5rem;  
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; 
   appearance: none;
   margin-top: -6px;
   background-color: #5cd5eb;
   height: 2rem;
   width: 1rem;
}