body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
}


.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 48px;
    width: 200px;
    flex-shrink: 0;
}

.toolbar {
    padding: 4px 6px;
    background-color: #f6f6f6;
    border-radius: 10px;
    border: 1px solid rgb(213, 213, 213);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

input {
    width: 30px;
    height: 30px;
}

.header button {
    height: 45px;
    width: 45px;
    border-radius: 8px;
    border: white;
    background-color: rgb(244, 244, 244);    
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer button {
    height: 45px;
    width: 45px;
    border-radius: 8px;
    border: 1px solid rgb(132, 132, 132);
}

button:hover {
    background-color: rgb(225, 225, 225);
}

#pen:focus, #eraser:focus {
    background-color: rgb(91, 91, 91);
}

.zoom {
    display: flex;
    width: 200px;
    flex-shrink: 0;
    gap: 20px;
}

.zoom button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid gray;
}

.canvas {
    display: flex;
    justify-content: stretch;
}

.footer {
    display: flex;
    height: 45px;
}